<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  
    <title></title>
    
</head>
<body>
    <div class="text-success text-opacity-50 border border-secondary blockquote text-center" 
         style="padding-bottom:10px; margin:30px 30px 30px 30px;">
        <h2>Web Scraping Welcomes you..!</h1>
        <h4>You can scrap amazon Products, Reviews and search data with this app.</h3>
        <h6>
            <ul>###Sample Web Scrapping methods</ul>

            <ul>Make sure , you have installed json formator to get parsed data with your respected browers you were using.</ul>

            <ul>1.For Product data:</ul>
                
            <ul> Web link : <a target="_blank" rel="noreferrer" href="https://www.amazon.com/Apple-MacBook-16-inch-10%E2%80%91core-16%E2%80%91core/dp/B09JQML3NL/ref=sr_1_2?crid=2OZB3PKKLKX0P&keywords=macbook+pro&qid=1658000213&sprefix=macbook+pr%2Caps%2C444&sr=8-2">Product Data</a></ul>

            <ul>From app link: <a target="_blank" rel="noreferrer" href="https://webscrapingapiapp.herokuapp.com/products/B09JQML3NL">Product Scraped Data</a></ul>

            <ul>2.For Product review data:</ul> 
                
            <ul>From app URL link:<a target="_blank" rel="noreferrer" href="https://webscrapingapiapp.herokuapp.com/products/B09JQML3NL/reviews">Product Reviews Scraped Data</a></ul>

            <ul>3.For Searching products:</ul>

            <ul>Web link : <a target="_blank" rel="noreferrer" href="https://www.amazon.com/s?k=iphone13&crid=19N2XRRFSCOAV&sprefix=iphone13%2Caps%2C649&ref=nb_sb_noss_2">Searching Data</a> </ul>

            <ul>From app URL link:<a target="_blank" rel="noreferrer" href="https://webscrapingapiapp.herokuapp.com/search/iphone13">Seaching Scraped Data</a></ul>
        </h6>
    </div>
</body>
</html>